@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 50%;
}

.title {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 25px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 24px;
  font-family: var(--font-roboto);
  line-height: 1.6;
  margin-bottom: 40px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.contactBtn:hover {
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
}

.heroImg {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
  }

  .content {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 18px;
  }

  .heroImg {
    width: 180px;
    height: 180px;
    margin-top: 20px;
  }
}
